---
---

@import "minima";

/* Tus cambios personalizados */
body {
  background: #f5f5f5;
}

.compactchart {
  display:block;
  margin:0 auto;
  max-width:600px !important;
  width:100% !important;
  border:1px solid #444;
  border-radius:6px;
}

/* mobile override (телефони) */
@media (max-width: 480px) {
  .compactchart {
    max-width:350px !important;
  }
}


