---
---

@import "minima";

/* compact charts at blog posts */
.compactchart {
  display:block !important;
  margin:0 auto !important;
  max-width:600px !important;
  width:100% !important;
  border:1px solid #444 !important;
  border-radius:6px !important;
}

@media (max-width:480px) {
  .compactchart {
    max-width:350px !important;
  }
}
